{% extends 'base.html.twig' %}

{% block title %}Liste des étidients{% endblock %}

{% block body %}

<h1>Liste des étudients</h1>

{% for student in students %}
{# {{ student.id ~ ' (' ~ student.firstName ~ ' ' ~ student.lastName ~ ' ' ~ student.ville ~ ' )'}} <br> #}
{# <b>{{ entreprise.raisonSociale }}</b> {{' (' ~ entreprise.cp ~ ' ' ~ entreprise.ville ~ ')'}} <br> #}

{# pour détailler la liste on ajoute le lien #}
<a href="{{ path('show_student', {'id': student.id}) }}">{{ student }}</a><br>
{% endfor %}
{% endblock %}
