{% extends 'base.html.twig' %}

{% block title %}Liste desc sessions{% endblock %}

{% block body %}

<h1>Liste des sessions</h1>

{% for session in sessions %}
         {# pour afficher tous les sessions #}
          <b>{{ session }}</b> <br>

             <p>
                Formation : <a href="{{ path('show_formation', {'id':session.formation.id})}}">{{ session.formation }}</a> <br>
                Nom de la session : {{ session.name }}  <br>
                Date de début : {{ session.startDate | date("d.m.Y") }} <br>
                Date de fin : {{ session.endDate | date("d.m.Y") }} <br> 
                Nombre de places : {{ session.nbPlaceTotal }}  <br> 
            </p>

        {# pour afficher les sessions triés sur la formation  #}
        {# {{ session }} ({{ session.formation.name }}) </br> #}

        {# pour détailler la liste on ajoute le lien #}
        {# <a href="{{ path('show_session', {'id': session.id}) }}">{{ session }}</a> ({{ session.formation.name }}) </br> #}
{% endfor %}

{% endblock %}
